#home{
    display: flex;
    min-height: calc(100vh - 82px);
}

#descrição{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#title{
    font-size: 3.5rem;
}

#descrição #title span{
    color:  rgb(144, 63, 219);
}
#descrição  p{
    font-size: 1.2rem;
}


#banner{
    width: 60%;
    display: flex;
    align-items: start;
    justify-content: end;
}

#img_banner{
    width: 100%;
    height: 100%;
    
}

#btn_descrição{
    display: flex;
    gap: 20px;
    border: none;
}

#btn_descrição :hover{
    transform: scale(1.2);
    transition: 500ms ease;


}

#btn_descrição a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.btn-default3{
    background-color: rgb(144, 63, 219);
    padding: 10px 15px;
    border-radius: 25px;
}

.btn-default3:hover{
    background-color: blueviolet;
}

#phone_img{
    display: none;
}

#phone_button{
    padding: 10px 15px;
    border-radius: 25px;
    background-color: rgb(144, 63, 219);
    gap: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 500ms ease;
}

#phone_button i {
    background-color: rgb(144, 63, 219);
}

#phone_button:hover{
    background-color: blueviolet;
    transform: scale(1.2);
}


#phone_button i:hover {
    background-color: blueviolet;
}


@media screen and (max-width:550px){

    #content_principal{
width: 100%;
height: 100vh;
    }

    #home{
        display: flex;
        height: 100%;
        width: 100%;
        margin-top: 10%;

    }

    #descrição{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
}

#title{
    font-size: 3rem;
}

#descrição  p{
    font-size: 1.5rem;
}

#banner{
    width: 0%;
    height: 0%;
}

#img_banner{
    width: 0%;
    height: 0%;
    
}

#phone_img{
    display: flex;
}



#btn_descrição{
    display: flex;
    border: none;
    width: 100%;
    text-align: center;
}

#btn_descrição a {
    font-size: 13px;
    margin-top: 10%;
    font-weight: 600;
    padding: 10px 9px;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    
}

.btn-default3{
    background-color: rgb(144, 63, 219);
    padding: 5px 10px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

#phone_button{
    padding: 5px 10px;
    border-radius: 25px;
    background-color: rgb(144, 63, 219);
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 500ms ease;
}


section{
    padding: 10px 3%;
}



.btn-default2{
    border: none;
     padding: 3px 5px;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 111, 228);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0 , 0.2);
    transition: 500ms ease;
    margin-top: 5px;
    margin-bottom: 5px;
}


.midia_social{
    display: flex;
    gap: 55px;
    text-align: center;
    margin-top: 20%;
    margin: auto;

}

.midia_social a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 65px;   
    height: 60px;
    font-size: 22px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 50%;
    transition: 500ms ease;
    box-shadow: 0px 0px  10px 5px rgba(0, 0, 0 , 0.2);
}








}