.menu_section{
    background-color: #cdcdce;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;

}

.menu_section .produto{
    box-sizing: border-box;
    flex: 0 0 47%;
}




.h2_menu{
    background-color: #cdcdce;
    text-align: center;
    opacity: 0;
transform: translateX(100%);
transition: all 500ms;


}


.show4{
    opacity: 1;
    transform: translateX(0%);
    transition: all 1000ms;
    filter: blur(0);


}

.produto{
    background-color: white;
    text-align: center;
    padding: 10px 35px;
    border-radius: 1px;
    margin-left: 20px;
    box-shadow: 0px 0px 15 px 1px rgba(0, 0, 0 , 0.5);
}


.produto:hover{
transform: scale(1.1);
transition: 500ms ease;
}

.h3_menu{
    background-color: white;
}

.span_menu{
    background-color: white;

}

.pagamentos{
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.pagamentos button{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    gap: 10px;
    justify-content: center;
    background-color: rgb(171, 111, 228);
    border-radius: 5px;
    padding: 5px;
}

.pagamentos:hover{
    transform: scale(1.1);
    transition: 500ms ease;
}

.pagamentos button i {
    background-color: rgb(171, 111, 228);
    color: white;
    font-size: 20px;
}

.pagamentos button  h4 {
    background-color: rgb(171, 111, 228);
    color: white;
    font-size: 18px;
}

.img_menu:hover{
    transition: 500ms ease;
    transform: scale(1.1);
}




/* PARTE DAS AVALIAÇÕES */

.testeavaliacao{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    opacity: 0;
transform: translateY(10%);
filter: blur(15px);
transition: all 1s;
}



.show6{
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s;
    filter: blur(0);


}


.Avaliações{
    font-size: 2.8rem;
    color: blueviolet;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.h3_avaliações{
    font-size: 1.5rem;
    margin-bottom: 5rem;
    font-weight: 300;
}

.btn-default5{
    background-color: rgb(144, 63, 219);
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
margin: auto;
}


.btn-default5:hover{
    background-color: blueviolet;
    transition: 500ms ease;
    transform: scale(1.2);
}


.feedback_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0 , 0.3);
    padding: 10px;
    background-color: white;
margin-bottom: 30px;
}

.feedbacks{
    background-color: white;
}

.feedbacks span i{
    color:gold;
}

.avatar{
    display: flex;
    align-items: center;
gap: 0px;
margin-bottom: 15px;
margin-top: 5px;
background-color: white;
}

.avatar p{
    background-color: white;
}

.avatar span{
    margin-left: 5px;
    background-color: white;

}

.avatar i{
 margin-left: 5px;
 background-color: white;

}




.midia_social2{
    display: flex;
    gap: 40px;
    text-align: center;

}

.midia_social2 a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 55px;   
    height: 50px;
    font-size: 1.30rem;
    background-color: white;
    padding: 10px 25px;
    border-radius: 50%;
    transition: 500ms ease;
    box-shadow: 0px 0px  10px 5px rgba(0, 0, 0 , 0.2);
}

.midia_social2 :hover{
    transform: scale(1.2);

    
}
.midia_social2 a :hover{
    transform: scale(1.2);

}

.midia_social2 i {
    background-color: white;
    

}


.midia_social2 i :hover {
    background-color: rgb(209, 209, 209) ;
}





#footer_itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 10px;
}


.img_cheff_logo{
    display: none;
}

.copyRight2{
    display: none;
}


@media screen and (max-width: 550px) {

    .menu_section{
        background-color: #cdcdce;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
    
    }

    .menu_section .produto{
        box-sizing: border-box;
        flex: 95%;
    }

    .h2_menu{
        width: 100%;
        margin-top: 8rem;
    }

    .produto{
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 10px 35px;
        border-radius: 1px;
        margin-left: 20px;
        box-shadow: 0px 0px 15 px 1px rgba(0, 0, 0 , 0.5);
    }
    .produto:hover{
        transform: scale(1.0);
        transition: 500ms ease;
        }


        .testeavaliacao{
            width: 100%;
            min-height:100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            opacity: 0;
        transform: translateY(10%);
        filter: blur(15px);
        transition: all 1s;
        margin-bottom: 50px;
        }
        
        
        
        .show6{
            opacity: 1;
            transform: translateY(0%);
            transition: all 1s;
            filter: blur(0);
        
        
        }
        
        
        .Avaliações{
            font-size: 1.5rem;
            color: blueviolet;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: center;
            
        }
        
        .h3_avaliações{
            font-size: 1rem;
            margin-bottom: 4rem;
            font-weight: 300;
            text-align: center;
        }

        .img_cheff{
            display: none;
        }

        .feedbacks{
            width: 100%;
        }

        .avatar img {
            width: 40px;
            height: 40px;
            background-color: white
            ;margin-right: 10px;
        }


        .img_cheff_logo{
            display: flex;
            width: 350px;
            height: auto
        }

        footer{
            margin-top: auto; /* Empurra o rodapé para a parte inferior */
            width: 100%;   
        }

        #footer_itens{
            width: 100%;
        }

        #copyRight{
            display: none;
        }

        .copyRight2{
            display: block;
            padding-left: 35px;
        }

    
}
